<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="samiyal.a3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="samiyal.a3.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="samiyal.a3.Pro1"></activity>
        <activity android:name="samiyal.a3.Pro2"></activity>
        <activity android:name="samiyal.a3.Pro3"></activity>
        <activity android:name="samiyal.a3.Pro4"></activity>
        <activity android:name="samiyal.a3.Pro5"></activity>
        <activity android:name="samiyal.a3.Wlc"></activity>
        <activity android:name="samiyal.a3.Acti1"></activity>
        <activity android:name="samiyal.a3.Acti2"></activity>
        <activity android:name="samiyal.a3.Acti3"></activity>
    </application>

</manifest>
